{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Купленные публикации и оплата</h1>
        </div>

        <div class="table-responsive small mt-2">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Статус оплаты</th>
                    <th scope="col">Кол-во просмотров</th>
                    <th scope="col">Кол-во покупок</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.pk }}</td>
                        <td>{{ object.post.title|truncatechars:25 }}</td>

                        <td>{{ object.post.count_views }}</td>
                        <td>{{ object.post.count_pay }}</td>
                        <td>{{ object.created_at }}</td>
                        {% if object.pay_status == 'open' %}
                            <td><span class="badge text-bg-warning">Ожидания оплаты</span></td>
                            <td><a class="btn btn-primary " href="{% url 'posts:pay_posts_redirect' object.post.pk %}"
                                   role="button"
                                   style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Оплатить</a></td>
                        {% elif object.pay_status == 'expired' %}
                            <td><span class="badge text-bg-danger">Оплата отменена</span></td>
                        {% elif object.pay_status == 'complete' %}
                            <td><span class="badge text-bg-success">Оплачено</span></td>
                            <td><a class="btn btn-success " href="{% url 'posts:free_posts_detail' object.post.pk %}"
                                   role="button"
                                   style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Читать</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}